.form-component {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  height: 40px;
  font-size: 20px;
  border: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
}
